@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Sedgwick+Ave+Display&family=Shrikhand&display=swap');

:root {
    --primary-color1: #D3FF00;
    --primary-color2: #268ED1;
    --primary-color3: #FF4D80;
}

body {
    font-family: Quicksand, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(0deg, var(--primary-color2), rgba(0, 0, 0, 1) 100%);
    color: white;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
}

a, h1, h2, h3, h4 {
    color: var(--primary-color2);
    font-family: Sedgwick Ave Display, sans-serif;
}

h2 {
    font-size: 36px;
    text-shadow: 
                -2px -2px 0 white,  
                 2px -2px 0 white,
                -2px  2px 0 white,
                 2px  2px 0 white,
                -2px  0px 0 white,
                 2px  0px 0 white,
                 0px -2px 0 white,
                 0px  2px 0 white;
    letter-spacing: 2.5px;
    line-height: 24px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--primary-color1);
    color: #000;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    border-bottom: 5px solid var(--primary-color3);
}

#header-img {
    max-height: 50px;
}

#nav-bar {
    display: flex;
}

.nav-link {
    color: var(--primary-color3);
    text-decoration: none;
    padding: 0 15px;
    text-shadow: 
                -1px -1px 0 white,  
                 1px -1px 0 white,
                -1px  1px 0 white,
                 1px  1px 0 white;
}

.nav-link:hover {
    text-decoration: underline;
}

main {
    margin-top: 60px;
    padding: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.product-item img {
    width: 100%;
    max-height: 150px;
    object-fit: cover;
}

.product-item {
    flex-basis: 30%;
  text-align: center;
  background: linear-gradient(0deg, var(--primary-color2), var(--primary-color3));
  padding: 1%;
  max-width: 400px;
  border-radius: 10px;
  border: 5px solid var(--primary-color3);
  color: white;
  font-weight: 500;
  font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
}

.product-item h2 {
    color: var(--primary-color3);
    max-width:200px;
    margin: 20 auto;
}

section {
    margin-bottom: 40px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

input[type="email"], input[type="submit"] {
    padding: 10px;
    margin: 5px 0;
}

input[type="submit"] {
    font-family: Sedgwick Ave Display;
    background-color: var(--primary-color3);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 28px;

    letter-spacing: 2px;
}

input[type="submit"]:hover {
    background-color: #555;
}

/* Media Query for Phones */
@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    #nav-bar {
        flex-direction: column;
        align-items: center;
    }

    .nav-link {
        padding: 10px 0;
    }
}

h3 {
    color: white;
    letter-spacing: 10px;
    font-size: 28px;
}

.statement {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 
                -2px -2px 0 white,  
                 2px -2px 0 white,
                -2px  2px 0 white,
                 2px  2px 0 white,
                -2px  0px 0 white,
                 2px  0px 0 white,
                 0px -2px 0 white,
                 0px  2px 0 white;
}

.gs {
    color: var(--primary-color2);
}

.ps {
    color: var(--primary-color3)
}